# Python
__pycache__/
*.pyc
.venv/
venv/
env/
.ipynb_checkpoints/

# Local outputs
submission_ml_3.csv
*.pt
*.pth
*.ckpt
runs/
wandb/

# Extracted image folders
train_images_covers/
test_images_covers/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
